/**
 * YouTube 인기 급상승 - 메인 CSS
 * 모든 컴포넌트 CSS를 import
 */

@import url('youtube-base.css');
@import url('youtube-header.css');
@import url('youtube-filters.css');
@import url('youtube-video-card.css');
@import url('youtube-insights.css');
@import url('youtube-favorites.css');
